html {
  font-size: 62.5%;
  align-content: center;
}
h1 {
  font-size: 6rem;
  text-align: center;
  margin-top: 20px;
  font-family: serif;
}
.cont {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.card {
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  width: 400px;
  height: 200px;
  margin: 20px 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 0px #2a6d97;
}
.card::after{
  width: 400px;
  height: 200px;
}
.card span{
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translate(0,-50%);
  left: 20px;
  font-size: 6rem;
  line-height: 6rem;
  color: black;
}
.title {
  position: relative;
  height: 200px;
}
.card img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100px;
  transition: 0.5s;
  margin: 0;
  padding: 50 0;
}
.open{
  height: 400px;
}
.img_open{
  transform: rotate(180deg);
}
.card p {
  font-size: 2.5rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:0px;
  margin-top: 5px;
}